services:
  timescaledb:
    build: ./infra/timescaledb
    container_name: spartacus_timescaledb
    env_file:
      - .env
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "${DB_PORT}:${DB_PORT}"
    volumes:
      - timescaledb_data:/var/lib/postgresql/data
    networks:
      - spartacus-network
    restart: unless-stopped

volumes:
  timescaledb_data:

networks:
  spartacus-network:
    driver: bridge
